<
    <h1>PROJETOS</h1>
    <form action="/projetos/cadastar" method="post">
    <center><label for="Id">Id</label></center>
    <center><input type="text" id="Id" name="Id" placeholder="Número do Id"></center>

    <center><label for="Projetos">Projetos</label><center>
    <center><input type="text" id="Projetos" name="Projetos" placeholder="Nome do Projeto"></center>

    <center><label for="Ambiente">Ambiente</label></center>
    <center><input type="text" id="Ambiente" name="Ambiente" placeholder="Qual Ambiente?"></center>

    <center><button type="submit">Cadastrar</button></center>
    
</form>
<center><a href="">DÚVIDAS!</a></center>



    <div class="barra">

        <button class="adicionar">
            Adicionar
        </button>

        <input
            type="text"
            class="filtro"
            placeholder="Filtro"
        >

        <button class="filtrar">
            Filtrar
        </button>

    </div>

    <table>

        <thead>
            <tr>
                <th class="id">ID</th>
                <th>Nome do Projeto</th>
                <th>Ambiente</th>
                <th class="acoes">Ações</th>
            </tr>
        </thead>

        <tbody>

            <tr>
                <td>1</td>
                <td>Sistema de Estoque</td>
                <td>Desenvolvimento</td>
                <td>
                    <button class="editar">Editar</button>
                    <button class="excluir">Excluir</button>
                </td>
            </tr>

            <tr>
                <td>2</td>
                <td>Site Institucional</td>
                <td>Produção</td>
                <td>
                    <button class="editar">Editar</button>
                    <button class="excluir">Excluir</button>
                </td>
            </tr>

            <tr>
                <td>3</td>
                <td>App de Vendas</td>
                <td>Homologação</td>
                <td>
                    <button class="editar">Editar</button>
                    <button class="excluir">Excluir</button>
                </td>
            </tr>

            <tr>
                <td>4</td>
                <td>Painel Administrativo</td>
                <td>Desenvolvimento</td>
                <td>
                    <button class="editar">Editar</button>
                    <button class="excluir">Excluir</button>
                </td>
            </tr>

            <tr>
                <td>5</td>
                <td>Sistema Financeiro</td>
                <td>Produção</td>
                <td>
                    <button class="editar">Editar</button>
                    <button class="excluir">Excluir</button>
                </td>
            </tr>

        </tbody>

    </table>



