
    <h1>PROJETOS</h1>
    <form action="/projetos/cadastar" method="post">
        <label for="Id">Id</label>
        <input type="text" id="Id" name="Id" placeholder="Número do Id">

        <label for="Projetos">Projetos</label>
        <input type="text" id="Projetos" name="Projetos" placeholder="Nome do Projeto">

                <label for="Ambiente">Ambiente</label>
                <input type="text" id="Ambiente" name="Ambiente" placeholder="Qual Ambiente?">

                <button type="submit">Cadastrar</button>

    </form>
    <a href="">DÚVIDAS!</a>
    <head>
        <link rel="stylesheet" href="style.css">
    </head> 
